.github {
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-decoration: none;
}

.github > img {
	width: 2.5em;
	opacity: 0.5;
	vertical-align: middle;
	transition: opacity 0.3s;
}

.github > span {
	color: #FFFFFF;
	position: relative;
	top: 0.05em;
	left: 0.3em;
	font-weight: 300;
	font-size: 1rem;
	opacity: 0.5;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: opacity 0.3s;
}

.github > *:hover {
	opacity: 1;
}