.github {
	position: relative;
	top: 50%;
	left: 1ch;
	text-decoration: none;
	transform: translateY(-50%);
}

.github > img {
	width: 2.5em;
	opacity: 0.5;
	vertical-align: top;
	transition: opacity 0.3s;
	transform: translateY(-50%);	
}

.github > *:hover {
	opacity: 1;
}