.box {
    position: relative;
    display: inline-block;
    width: 25%;
}

.button {
    color: white;
    position: relative;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.2s;
}

.button:hover {
    font-size: 1.1em;
}

@media screen and (max-width: 720px) {

    .button {
        position: relative;
        color: black;
    }

    .box {
        height: 100%;
    }
}