.badge {
    position: relative;
    display: inline-block;
    padding: 1.2em;
    width: 25%;
}

.badge p {
    position: relative;
    font-size: 18pt;
    display: block;
    width: 100%;
    text-align: left;
    z-index: 100;
    white-space: normal;
    text-shadow: 0 0 25px #000;
}

.support {
    position: relative;
    display: flex;
    font-weight: 700;
    align-items: center;
    border-radius: 0.5em;
    justify-content: center;
    filter: hue-rotate(20deg);
    overflow: hidden;
}

.support:hover {
    filter: hue-rotate(-20deg);
    box-shadow: 0 5px 20px -10px #000;
    transform: translateY(-2px);
}

.logo {
    vertical-align: middle;
    display: inline-block;
    margin: 0.5em;
}