nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.padding {
    margin-bottom: 3em;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #121212;
    list-style: none;
}

nav li {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6em;
    font-weight: lighter;
}