#navbar {        
    position: fixed;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 60px;
    z-index: 9;
}

.options {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



@media screen and (min-width: 768px) {
    
    #navbar {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(3px) saturate(250%);
    }
    
    .options {
        position: absolute;
        top: 0px;    
        display: block;
        text-align: center;
        font-size: 2em; 
    }
}